.video-w-poster::after {
  content: "";
  background-color: transparent;
  background-image: url(../img/icon-play.svg);
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  inset: 0;
}
.video-w-poster {
  position: relative;
  display: block;
}
.card-footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  img {
    height: 2rem;
  }
}
.my-custom-nav {
  &.custom_nav_container {
    display: block;
    .fake-next {
      background-color: transparent;
      height: auto;
      &:before {
        display: none;
      }
      i {
        color: #262831;
      }
    }
    .fake-prev {
      background-color: transparent;
      height: auto;
      margin-right: 0;
      &:before {
        display: none;
      }
      i {
        color: #262831;
      }
    }
  }
}

.clients_slick {
  .client-item {
    border-radius: 5px;
    .card-footer {
      border-radius: 0px 0 20px 20px;
    }
  }
}

.contact-form {
  .contact-wrap {
    background: url(../img/form-background.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 20px;
    @media screen and (min-width: 1200px) {
      min-height: 40rem;
      padding-left: 5rem;
    }
  }
}

.newsletter-wrap {
  .newsletter-inner {
    padding: 3rem;
    background: url(../img/black-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    @media screen and (min-width: 1200px) {
      width: 90%;

      margin: auto;
      margin-top: -5rem;
    }
  }

  form {
    position: relative;
  }
  input {
    appearance: none;
    width: 100%;
    border-radius: 50px;
    padding: 1rem 2rem;
  }
  button {
    background-color: #f15d22;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;

    transform: translate(-10%, -50%);
    padding: 0 2rem;
    transition: all 0.3s ease;
  }
}

input[type="submit"] {
  background-color: #f15d22;
  border: 0;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-transform: uppercase;
}
input,
textarea {
  border-radius: 25px !important;
  border: none !important;
}
.contact-form {
  input {
    margin-bottom: 1rem;
  }
  .file-drop-wrap {
    input {
      margin-bottom: 0;
    }
  }
  input[type="submit"] {
    float: right;
    margin-top: -3rem;
    margin-right: 0.5rem;
  }
}

.underlined {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    border-bottom: 3px solid #f15d22;
    width: 100%;
    height: 3px;
  }
}

.fabric-chooser {
  background: url(../img/home-video.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  @media screen and (min-width: 1200px) {
    min-height: 40rem;
  }
  .box-content-wrap {
    background: #fff;
    padding: 2.5rem;
    border-radius: 20px;
  }
}
.content {
  margin-top: 6rem;
}

.btn-search {
  .fa-magnifying-glass::before {
    color: #272830;
  }
}

.contact-us-menu {
  img {
    margin-right: 0.5rem;
  }
}

.fixedbtn-wrap {
  position: fixed;
  right: 0;
  top: 40%;

  transform: translate(34%, -0px);
  color: #fff;
  .fixedbtn {
    padding: 1rem 2rem;
    background-color: #f15d22;
    transform: rotate(270deg);
    border-radius: 20px 20px 0px 0;
    a {
      color: #fff;
      i {
        margin-right: 1rem;
      }
    }
  }
}
.box-content-wrap {
  position: relative;
}

.box-content-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 10rem;
  border-left: 5px solid #f15d22;
  width: 10rem;
  border-top: 5px solid #f15d22;
  border-radius: 20px 0 0 0;
}

.box-content-wrap:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10rem;
  border-right: 5px solid #f15d22;
  width: 10rem;
  border-bottom: 5px solid #f15d22;
  border-radius: 0px 0px 20px 0px;
}

.client-item {
  position: relative;
}

.client-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 7rem;
  border-left: 2px solid #f15d22;
  width: 7rem;
  border-top: 2px solid #f15d22;
  border-radius: 20px 0 0 0;
}

.client-item:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 7rem;
  border-right: 2px solid #f15d22;
  width: 7rem;
  border-bottom: 2px solid #f15d22;
  border-radius: 0px 0px 20px 0px;
}
